nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a(href='/').navbar-brand Movie Blogs

    .collapse.navbar-collapse
      if user
        ul.nav.navbar-nav.navbar-right
          li: a(href='/profile') Profile
          li: a(href='/logout') Logout
      else
        ul.nav.navbar-nav.navbar-right
          li: a(href='/login') Login
          li: a(href='/signup') Sign Up
      form(role='search', action='/search', method='get').navbar-form.navbar-right
        .form-group
          input(placeholder='Search...', type='text', name='q').form-control
          button.btn.btn-default(type='submit') Submit
