nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') Movie Blogs

    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li: a(href='/') Home
      form.navbar-form.navbar-right(role='search')
        .form-group
          input.form-control(placeholder="Search",type="text")
          button.btn.btn-default(type="submit") Submit
      ul.nav.navbar-nav.navbar-right
        li: a(href="/login") Login
