body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/** present movies in a sliding panel **/
.movies-container ul {
  padding: 0;
  white-space: nowrap;
  overflow-x: scroll;
}

.movies-container ul li {
  display: inline;
}
