body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/** present movies in a sliding panel **/
.movies-container ul {
  padding: 0;
  white-space: nowrap;
  overflow-x: scroll;
}

.movies-container ul li {
  display: inline;
}

/** present large movie poster out of the way of other elems **/
.details {
    overflow: auto;
}

.movie-poster {
    float: right;
    margin: 14px;
}

/** small, centered comments form **/
.comments-form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/** show search page poster and description side by side **/
.search-panel {
  display: flex;
}

.search-poster, .search-desc {
  display: inline-block;
}

.search-poster {
  margin-right: 3em;
}
