extends layout

mixin movie_item(movie)
  li: a(href='/movie/#{movie.id}')
    img(src='#{movie.small_poster_uri}', title='#{movie.title}')


block content
  h1= title
  h2 Now Playing
  .movies-container
    ul
      for movie in now_playing
        +movie_item(movie)
      else
        li sorry, no movies!
  h2 Popular Movies
  .movies-container
    ul
      for movie in popular
        +movie_item(movie)
      else
        li sorry, no movies!
